extra assignent2

In [ ]:
#1#
a=range(0,20)
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#2#
a=range(10,20)
for i in a:
    print(i,end=' ')

10 11 12 13 14 15 16 17 18 19

In [ ]:
#3#
list2=[10,20,14,55,43,87,76]
print('number of item in the list2:',len(list2))

number of item in the list2: 7

In [ ]:
#4#
a='Artificial inteligence'
print(a)
for i in a:
    print(i)

Artificial inteligence
A
r
t
i
f
i
c
i
a
l

i
n
t
e
l
i
g
e
n
c
e

In [ ]:
#5#
name=input(str('your name:'))
print(name)
age=input(str("your age:"))
print(age)
your_prof=input(str("your professtion"))
print(your_prof)

your name:sharan
sharan
your age:25
25
your professtiondata analyst
data analyst

In [ ]:
#6#
tuple_ex=('Welcome',2,'hope')
print(tuple_ex)

('Welcome', 2, 'hope')

In [ ]:
#7#
tuple1=(0,1,2,3)
tuple2=('python','hope')
tuple3=(tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'hope'))

In [ ]:
l1=[20,10,16,19,25,1,276,188]
for i in l1:
    if (i%2)!=0:
        print(i,'is odd')

19 is odd
25 is odd
1 is odd

In [ ]:
l2=[20,10,16,19,25,1,276,188]
for i in l2:
    if (i%2)==0:
        print(i,'is even')

20 is even
10 is even
16 is even
276 is even
188 is even